
h1{
    color: darkolivegreen;
}
#para1{
    color: #ff0000;
}
#para2{
    color: rgb(00,00,255);
}

#para3{
    color: rgba(255, 00, 204,0.5);
}

#para4{
    color: hsl(100%, 50%, 20%);
    /**/
}

#para5{
    color: rgba(00,00,255,0);
    /*color: transparent;*/
}
#para6{
    color: blue;
}

div{
    color: #00ff00;
}
