

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
}

body {
  display: grid;
  place-items: center;
}

#main-heading {
  font-size: 6.2rem;
  color: #1e1403;
  margin: 3rem 0;
}

/* box model css  */
.parent-div {
  width: 1000px;
  height: 700px;
  background-color: #5e9de9;
  color: #fff;
  /* border: 5px solid #003180; */
  background: linear-gradient(to right, #514a9d, #24c6dc);
  box-shadow: 0px 4px 12px  rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  position: relative;
}

.child {
  width: 150px;
  height: 150px;
  background: linear-gradient(to right, #93edc7, #1cd8d2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  place-items: center;
  font-size: 3.2rem;
  color: #003180;
  position: absolute;
}

.child-1,.child-2{
  top: 0;
  right: 0;
}
.child-5,.child-6,.child-7{
  left: 50%;
  top: 50%;
}

.child-1{
  z-index: 1;
}

.child-3{
  z-index: 1;
}

.child-6{
  z-index: 1;
}