*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(177, 248, 224);
}

input{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 80%;
    height: 90%;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 12px 7px rgba(0, 0, 0, 0.146);

    h1,h4,h2{
        text-align: center;
        padding-bottom: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    & header{
        width: 100%;
        height: 20%;
        display: grid;
        place-content: center;
        border-bottom:2px solid grey;

        
    }

    & .tasks{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        padding-top: 10px;

        & .task{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-top: 20px;
        }

        & .each-task{
            padding-bottom: 20px;
        }

        & input{
            border: none;
            background: transparent;
            border-bottom: 1px solid black;
            outline: none;
            
        }

        

        & .each-task{

            & input:nth-child(1){
                outline: none;
                width: 20px;
                aspect-ratio: 1;
            }
            & input:nth-child(2){
                width: 80%;
            }

        }
       
        & .left{
            padding-left: 20px;
        }

        & .left,.right{
            width: 50%;
            height: 100%;
        }

        & .right{
            display: flex;
            flex-direction: column;
            

            & .upper,.lower{
                width: 100%;
                height: 50%;
                padding-left: 20px;

            }
        }
    }
}


@media (max-width:580px) {

    .container .tasks .left{
        width: 100%;
        height: 100%;
    }
    .container .tasks .right, .right .upper,.lower{
        width: 100%;
        height: 100%;
    }


    .upper,.lower{
        width: 100%;
        height: 100%;
    }
    body .container{
        height: auto;
    }
    .tasks{
        display: flex;
        flex-direction: column;

       

        
    }

    .left,.right{
        width: auto
    }
}